@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

body {
    -webkit-transition-property: -webkit-transform-origin, -webkit-transform;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 1s;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    -webkit-transform-origin: 0 0;
}

body>header {
    position: fixed;
    width:20vw;
    min-width: 200px;
}
body>header>h1{
    margin:0;
}

.reveal section > img {
    max-height: 100%;
    max-width: none;
    height: 1080px;
    width: auto;
    background: none;
    border: none;
    box-shadow: none;
}

.fragment.twe20screenshot {
    left: 348px;
    top: 112.25px;
    position: absolute;
}

.twe20screenshot img {
    transform: scale(0.078) translate(0px,185px);
    border: none !important;
    background: none !important;
}

.twe20screenshot.visible:not(.current-fragment) { opacity: 0; visibility: hidden; }

.reveal section {
    padding: 0;

}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    text-shadow: 0 2px 5px black;
}

.reveal h6 {font-size: .5em;}

.reveal section > div {
    position: absolute;
    top: 0; left: 0;
}

/*.reveal .slides section div.fragment { opacity: 0.3; }
.reveal .slides section div.fragment.current-fragment { opacity: 1; }
.reveal .slides section div.fragment.current-fragment ~ .fragment { opacity: 0; }*/
